<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla::head}">
    </head>
    <body>
        <header th:replace="~{layout/plantilla::header}"></header>



        <div class ="container">

            <div class ="row"></div>
            <div class ="row row-cols-6">
                <a th:href="@{/}" class="btn btn-primary">
                    <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                </a>

            </div>
            <div class="row row-cols-3">
                <div class="card">
                    <div class="card-header text-center">

                        reportes usuarios
                    </div>
                    <div class="card-body">
                        <a th:href="@{/reportes/usuarios?tipo=vPdf}" class="btn btn-primary">
                            <i class="fas fa-eye"></i>
                            <i class="fas fa-file-pdf"></i>
                        </a>

                        <a th:href="@{/reportes/usuarios?tipo=Pdf}" class="btn btn-success">
                            <i class="fas fa-download"></i>
                            <i class="fas fa-file-pdf"></i>
                        </a>

                    </div>
                </div>


            </div>




            <footer th:replace="~{layout/plantilla::footer}"></footer>
    </body>
</html>
