
/* 
    Created on : 1 jun 2023, 21:08:00
    Author     : Ying
*/

*{
    margin: 0;
    box-sizing: border-box;

}

body{
    background-color: lightblue;
    font-family: sans-serif;
    padding: 80px 0px 20px 0px;

}


.header{

    background-color: #076af0;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
}
.aside{
    background-color: lightcyan;
    position: fixed;
    top: 80px;
    width: 20%;
    bottom: 20px;

}

.contenido{
    background-color: lightgray;
    position: fixed;
    top: 80px;
    right: 0;
    width: 80%;
    bottom: 20px;
    overflow-y: scroll;
    padding: 20px;
}
footer{
    background-color: lightsalmon;
    height: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    max-height: 992px;
    margin: 0 auto;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    
}

.nav_link{
    color: white;
    text-decoration: none;
}

.nav_link{
    display: flex;
    margin-right: 40px;
    list-style: none;
    
}

.nav_menu_item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
    
}

.nav_link_menu{
    padding:4px 12px;
    border-radius: 4px;
    
}
.nav_menu_link:hover{
    
    background-color: #024070;
    transition: 05s;
}
h2{
    color: lightseagreen
    
}

h3{color: lightcoral}

.texto_centrado{
    text-align: center;
    
}

.texto_derecho{
    text-align: right;
    
}

tbody tr:nth-child(odd){
    background-color: #89aa34;
    
}

tbody tr:nth-child(even){
    background-color: #34ea89;
    
}